@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("../assets/fonts/Roboto-Regular.ttf") format("true-type");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("../assets/fonts/Roboto-Bold.ttf") format("true-type");
  font-weight: 700;
}
